<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>change_book</title>
</head>
<body>
    <p>修改图书信息页面</p>
    <ul>
        <li>q</li>
        <li>w</li>
        <li>e</li>
        <li>r</li>
    </ul>
    <ol>
        <li>q</li>
        <li>w</li>
        <li>e</li>
        <li>r</li>
    </ol>
    <form action="/book/add/12" method="get">
        name:<input type="text" name="nameinfo" id="nameid">
        password:<input type="password" name="pwinfo" id="pwid">
        <select>
            <option value="男">男</option>
            <option value="女">女</option>
        </select>
        <textarea cols="200" rows="5"></textarea>
    </form>
</body>
</html>